.title {
  font-family: sans-serif;
  text-align: center;
}

.component_container {
  position: relative;
}

.main {
  display: grid;
  gap: 1em;
}

.button {
  display: flex;
  background: none;
  background-image: linear-gradient(to bottom right, #FF416C, #FF4B2B);
  padding: 9px 12px 8px;
  margin-bottom: 5px;
  color: #FFFFFF;
  border-radius: 6px;
  border: none;
  outline: none;
  font-weight: '600';
  cursor: pointer;
}

.divider {
  position: relative;
  background-image: linear-gradient(to bottom right, #0F2027, #203A43, #2C5364);
  height: 80vh;
  width: 80vw;
}